article {
  max-width: 800px;
  margin: 48px auto;
}

img {
  width: 100%;
}

p {
  font-size: 1.05rem;
  line-height: 1.7rem;
}

pre {
  background-color: floralwhite;
  padding: 1rem;
  overflow: auto;
}

code {
  background-color: floralwhite;
}