---
import type { CalloutBlock } from "@writeflow/types";
import { RichText } from "@writeflow/astro";

const { block } = Astro.props as {
  block: CalloutBlock;
};
---

<div class="mt-8 bg-gray-100 rounded px-3 py-4 text-gray-700">
  {
    block.callout.icon?.type === "emoji" ? (
      <span class="mr-2">{block.callout.icon.emoji}</span>
    ) : null
  }
  <RichText rich_text={block.callout.rich_text} />
</div>
