---
import type { GetStaticPaths } from "astro";
import { marked } from "marked";
import { writeflow } from "../utils/writeflow";
import Layout from "../layouts/Layout.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const contents = await writeflow({
    apiKey: import.meta.env.WRITEFLOW_API_KEY,
  }).contents.list({
    title: true,
    slug: true,
    properties: true,
    md: true,
  });

  return contents
    .filter((content) => content.properties.published.checkbox)
    .map((content) => ({
      params: { slug: content.slug },
      props: { content },
    }));
};

const props = Astro.props as {
  content: { md: string; title: string; properties: Record<string, any> };
};
const md = marked.parse(props.content.md);
---

<Layout title={props.content.title}>
  <h1>{props.content.title}</h1>
  <p>{props.content.properties.date.date.start}</p>
  <article set:html={md} />
</Layout>
