---
import Layout from "../layouts/Layout.astro";
import { writeflow } from "../utils/writeflow";

const contents = (
  await writeflow({ apiKey: import.meta.env.WRITEFLOW_API_KEY }).contents.list({
    slug: true,
    title: true,
    properties: true,
  })
).filter((content) => content.properties.published.checkbox);
---

<Layout title="Welcome to Astro.">
  <main>
    <ul>
      {
        contents
          .sort((a, b) => {
            const aDate = a.properties.date.date;
            const bDate = b.properties.date.date;
            return (
              (aDate ? new Date(aDate.start).getTime() : 0) -
              (bDate ? new Date(bDate.start).getTime() : 0)
            );
          })
          .map((content) => (
            <li>
              <a href={`/${content.slug}`}>{content.title}</a>
            </li>
          ))
      }
    </ul>
  </main>
</Layout>

<style></style>
