---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Personal Blog">
  <main>
    <h1 class="text-4xl font-semibold">Lee HyeongJin</h1>
    <p class="text-2xl mt-10">
      I'm a software engineer who loves to build things. I'm currently working
      on <a href="https://writeflow.dev">Writeflow</a>.
    </p>
    <div class="flex flex-col gap-2 mt-10">
      <a href="/log" class="text-2xl underline">Log</a>
      <a href="/tech" class="text-2xl underline">Tech</a>
    </div>
  </main>
</Layout>

<style></style>
